<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= render 'layouts/login_header' %>
      </li>
    <% else %>
      <%= render 'layouts/logout_header' %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
